---
import { Card, TabItem, Tabs } from '@astrojs/starlight/components';
---

<Card
  title="<code style='font-size: var(--sl-text-h4);'>--color-contrast</code>"
>
  ️<div class="preview">
    <input type="color" data-id="color-example-picker" value="#004a23" />
    I have contrast!
  </div>
  <Tabs>
    <TabItem label="Example">
      <slot name="example" />
    </TabItem>
    <TabItem label="Code">
      <slot name="code" />
    </TabItem>
  </Tabs>
</Card>

<style>
  .preview {
    display: grid;
    grid-template-rows: fit-content;
    width: 100%;
    height: 100px;
    border-radius: inherit;
    background-color: var(--contrast-picker-fill);
    color: --contrast-color(var(--contrast-picker-fill));
    
    * {
      grid-column: 1 / span all;
      grid-row: 1 / span all;
      place-self: center;
    }

    input {
      align-self: flex-start;
      justify-self: flex-end;
    }
  }
</style>

<script>
  const picker = document.querySelector<HTMLInputElement>('[data-id="color-example-picker"]')!;
  const preview = document.querySelector<HTMLElement>('.card .preview')!;

  function updateColor() {
    const color = picker.value;
    preview.style.setProperty('--contrast-picker-fill', color);
  }

  picker.addEventListener('input', updateColor);
  updateColor();
</script>